<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF=8">
	<title>Yelp</title>
</head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<body>
<div class="container">
	<h1>Yelp</h1>

<FORM id='submit_params' method="POST" action="{{ url_for('get_information') }}">
<div class="form-group">
<table class="table">
    <tr>
        <td width="160px">Title</td>
        <td width="150px">Departure:</td>
        <td width="150px">Destination:</td>
        <td width="150px">Restaurant</td>
    </tr>
    <tr>
        
        <td><input type="text" class="form-control mt-2" id="departure" placeholder="Enter a restaurant" name="departure"></td>
        
        <td><input type="text" class="form-control mt-2" id="destination" placeholder="Enter ending location" name="destination"></td>
        
        <td><input type="text" class="form-control mt-2" id="restaurant" placeholder="Looking for what?" name="restaurant"></td>
    </tr>
    
    <td><button class="btn btn-default" type="submit" value = "Search" style="width: 100px; height: 30px;" size = "30" >Map it!</button></td><td></td><td></td>
    <tr>
</table>
</div>
</FORM>
    
</div>
</body>
</html>