{% extends "base.html" %}


{% block content1 %}

<div class = "row">
<h4>Similar to {{restaurant}}</h4>
</div>

<div class = "row">
    <table border="1" cellpadding="5" cellspacing="5">
            {% for name in names %}
            <tr>
                <td><a href="/{{destination}}/{{name}}">{{name}}</a></td>
            {% endfor %}
        </tr>
    </table>
</div>

{% endblock %}


{% block content2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{map.js}}
</head>
<body>

{{map.html}}

{% endblock %}
</body>
</html>