{% extends "base.html" %}


{% block content %}
<!-- Title -->
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF=8">
        <title>Yelp</title>
        <div class="row justify-content-center align-items-center">
        <h1>EatLike</h1>
        </div>
    <!-- Form (Enter Destination, Origin, Restaurant to Replicate) -->
    </head>
        <body>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                <!-- Enter Info -->
                    <div class= "row">
                        <FORM id='submit_params' method="POST" action="{{ url_for('get_information') }}">
                            <div class="form-group">
                                <table class="table">
                                    <tr>   
                                        <td>
                                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="departure" name = departure>
                                                <option selected>Origin City</option>
                                                <option value="mesa">Mesa</option>
                                                <option value="pittsburgh">Pittsburgh</option>
                                                <option value="charlotte">Charlotte</option>
                                                
                                            </select> 
                                        </td>
                                        <td>
                                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="destination" name = destination>
                                                <option selected>New City</option>
                                                <option value="mesa">Mesa</option>
                                                <option value="pittsburgh">Pittsburgh</option>
                                                <option value="charlotte">Charlotte</option>
                                            
                                            </select> 
                                        </td>  
                                        <td>
                                            <input type="text" class="form-control" id="restaurant" placeholder="Restaurant to replicate" name="restaurant">
                                        </td>       
                                        <td>
                                            <button type="submit" class="btn btn-outline-dark">Find!</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>      
                    </div>
                </div>


<div class= "row">

        <!--Grid column-->
        <div class="col">
                <div class = "row">
                        <h4>Similar to {{restaurant}}</h4>
                </div>
                        
                <div class = "row">
                    <table border="1" cellpadding="5" cellspacing="5">
                            {% for name in names %}
                            <tr>
                                <td><a href="/{{restaurant}}/{{departure}}/{{destination}}/{{name}}">{{name}}</a></td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
        </div>

        <!--Grid column-->
        <div class="col-10">
                <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            {{map.js}}
        </head>
        <body>
        {{map.html}}    
        </div>

    </div>



{% endblock %}
</body>
</html>